table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
     border: 1px solid #499dbc;
}

td,
th {
    border: 1px solid #910e0e;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #44c0e2;
}